<figure class="pd frame panel rv" aria-labelledby="pdT{{uid}}">
  <figcaption><span class="caps">The Accord, as a dilemma</span><b id="pdT{{uid}}">Trust pays every round. Betrayal pays once.</b></figcaption>
  <table class="pd-t">
    <caption class="sr">What each pair of choices does to you, from your side of the table.</caption>
    <thead><tr><td></td><th scope="col"><span class="pd-k" aria-hidden="true">{{kj:信}}</span>They open up</th><th scope="col"><span class="pd-k" aria-hidden="true">{{kj:刃}}</span>They strike</th></tr></thead>
    <tbody>
      <tr><th scope="row"><span class="pd-k" aria-hidden="true">{{kj:信}}</span>You open up</th>
        <td class="pd-r"><em>Accord</em><b>Both gain a dividend</b><small>Builds a streak. Influence makes it pay more.</small></td>
        <td class="pd-s"><em>Betrayed</em><b>You take the hit</b><small>And you gain Reprisal for two rounds.</small></td></tr>
      <tr><th scope="row"><span class="pd-k" aria-hidden="true">{{kj:刃}}</span>You strike</th>
        <td class="pd-t2"><em>Betrayal</em><b>You hit harder, once</b><small>Then the Accord ends and they retaliate.</small></td>
        <td class="pd-p"><em>Mutual strikes</em><b>Both of you pay</b><small>Damage and heat. The streak resets.</small></td></tr>
    </tbody>
  </table>
  <p class="pd-n"><b>Guard is the way out:</b> no dividend, no exposure, nothing to betray. Stall together for too long and the <b>Standoff</b> wears you both down.</p>
</figure>
